@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    padding: auto;
    font-family: 'Source Code Pro', monospace;
}
#CV {
    height: 95vh;
    width: calc(95vh / 1.41);
    margin: auto;
    display: flex;
}

#sidebar {
    height: 100%;
    width: 30%;
    background-color: #29352F;
    display: flex;
    flex-flow: column nowrap;
    color: #F7F7F7;
}

#sidebar > div {
    margin: 6% 6% 0% 6%;
    font-size: 16px;
}

.title {
    font-size: 1.4rem;
    margin: 0.2em 0;
}
.content {
    font-size: 0.7em;
    margin-top: 5%;
}

i, .material-icons, .fa {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: 0.12em;
}

.fa:before {
    width: 1.5em;
    height: 1.5em;

}

#profile {
    width: 80%;
    max-height: 17%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

}

img {
    max-width: 200%;
    max-height: 200%;
    margin: 0 auto;
    height: 122%;
    width: auto;
}

#skills {
    display: flex;
    flex-flow: column nowrap;
}

.skill{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 5%;
}

.skill p {
    margin: 0;
}

.bar {
    height: 1em;
    width: 50%;
    border-radius: 0.5em;
    background-color: #121714;
}

.bar div {
    height: 100%;
    border-radius: 0.4em;
    background-color: #50685C;
}

.bar .p10 {width: 100%;}
.bar .p9 {width: 90%;}
.bar .p8 {width: 80%;}
.bar .p7 {width: 70%;}
.bar .p6 {width: 60%;}
.bar .p5 {width: 50%;}


.sub {
    content="";
    background: #EBEBEB;
    display: block;
    height: 2px;
    width: 30%;
}


.sep {
    content="";
    background: #666666;
    opacity: 0.7;
    display: block;
    height: 1px;
    width: auto;
    margin: 0 6%
}

#main {
    height: 100%;
    width: calc(100% - 30%);
    background-color: #F7F7F7;
    display: flex;
    flex-flow: column nowrap;
    font-size: 12px;
    color: #29352F;
}

#main > div {
    margin: 0 6%;
}

#header {
    display: flex;
    flex-flow: row nowrap;
    font-size: 16px;
    justify-content: space-between;
    padding: 7% 0 0% 0%;
}

#name {
    text-align: left;
    padding-top: 1em;
}

#name h1{
   margin: 0% 0; 
}

.exp {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0px;
}


.exp *{
    margin: 0;
}

.exp h4 {
}

.location {
    min-width: 40%;
}

.description {
    margin-left: 15px;
}

.separator {
    margin-right: 0%;
}

.separator span {
    content: "";
    display: block;
    background: #29352F;
    opacity: 0.4;
}

.dot {
    position: relative;
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.5em;
    top: 0.3em;
}

.line {
    position: relative;
    width: 0.2em;
    height: 4em;;
    left: 0.3em;
    top: 0.3em;

}

#stuff {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.material-icons {
    font-size: 1.5em;
}

.hobby{
    font-size: 1em;
    margin-top: 0.5em;
    margin-right: 5px;
    margin-left: 5px;
}

#stuff i {
    width: 1em;
    height: 1em;
    top: 0.2em;
}
