@media only screen and (max-device-width: 800px) {
	body {
		font-size: 1.5rem;
	}

	.center {
		margin: 0 1em 0 2em !important;
	}

	#bottom {
		margin: 0;
	}

	#bottom > div > div {
		margin: 0;
	}

	#side {
		display: none;
	}

	#area {
		margin-left: 0;
		width: 100vw;
	}
}

@media only screen and (max-device-height: 400px) {
}


@media only screen and (max-device-width: 500px) {
}
