@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #1D1F21;
	font-family: 'Space Mono', monospace;
	font-size: 2em;
	color: #E9E9E9;
	width: 99vw;
}

div {
	display: flex;
}

a {
	text-decoration: none;
	color: #E9E9E9;
}

#main {
	width: 99vw;
	height: 100vh;
}

#main > div {
	transition: all 200ms ease-in;
}

#side {
	width: clamp(150px, 20%, 250px);
	height: 100%;
	background-color: #E9E9E9;
	position: fixed;
	flex-flow: column nowrap;
}

#side img {
	width: 100%;
	height: auto;
	cursor: pointer;
}

#area {
	margin-left: clamp(150px, 20%, 250px);
	width: clamp(calc(100vw - 150px), 80%, calc(100vw - 250px));
	height: 100%;
	flex-flow: column nowrap;
}

.page {
	width: 100%;
	min-height: 100vh;
	flex-flow: column nowrap;
}

.page > div {
	height: auto;
	justify-content: space-between;
	margin-left: 2em;
}

.left {
	justify-content: flex-start;
}

.right {
	justify-content: flex-end;
}

.text-dark {
	color: #1D1F21;
}

.text-light {
	color: #E9E9E9;
}

/* HOME PAGE */

#home {
	justify-content: space-between;
}

#top {
	margin: 1em; 
	margin-bottom: 0;
	font-size: 1.2em;
}

#top div {
	margin-bottom: 0;
}

#center {
	margin: 0 4rem;
	flex-flow: column nowrap;
}

#center h1{
	font-size: 2em;
}

#center p {
	font-size: 0.7em;
}

#hello{
	width: auto;
}

#paragraph-container {
	flex-flow: column nowrap;
}

#bottom {
	margin: 1.1em;
	margin-bottom:0;
	font-size: 0.6em;
}

#bottom > div > div {
	flex-flow: column nowrap;
	margin: 1em;
}

#email {
	flex-flow: column nowrap;
	margin: 1em;
}

#phone {
	flex-flow: column nowrap;
	margin: 1em;
}

#bottom > div > div > p {
	margin: 0.4em;
}

.contact-container p > i {
	vertical-align: bottom;
	margin: 0 0.2em;
}

.social-link {
	margin: 0 0.5em;
	transition: all 100ms ease-in;
}

.social-link:hover {
	transform:  scale(1.05) rotate(5deg);
}

/* PAGE TITLE */

.header-container {
	margin: min(2em, 1vh);
	margin-bottom:0;
}

.header {
	border-bottom: 2px solid #E9E9E9;
	font-size: max(2em, 4vw);
}

/* LINKS  */

#links {
	flex-flow: column nowrap;
	width: 100%;
	height: calc(100vh - clamp(150px, 20%, 250px));
	font-size: 85%;
	justify-content:space-evenly;
}

.link {
	justify-content: center;
}

.link h3{
	/* needs fix */
	border-bottom: 3px solid #E9E9E9;
	cursor: pointer;
	transition: all 100ms ease-in;
}

.link h3:hover {
	border-bottom: 3px solid #1D1F21;
	transform: scale(1.05);
}

/* OTHER PAGES */

.center {
	margin-left: 3em !important;
	margin-right: 3em !important;
}

.descipt {
	margin-top: 1em;
	flex-flow: column nowrap;
	font-size: max(2vh, 1.5vw);
}

.descipt > p:not(:last-child) {
	margin-bottom: 0.5em;
}

/* ABOUT */



/* WORK */

#timeline {
	margin-top: 1em;
	width: 100%;
	font-size: min(2.9vh, 4.2vw);
	flex-flow: column nowrap;
}

.time {
	min-width: 100%;
	justify-content: space-between
}

.time h5 {
	margin: 0;
	font-size: 1em;
}

.time p {
	font-size: 0.7em;
}

.time:not(:last-child) {
	margin-bottom: 1em;
}

.time .right {
	text-align: end;
}

.time > div {
	flex-flow: column nowrap;
}

.descipt > a{
	margin: 1em;
}
