@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
	background-color: #1D1F21;
	padding: 0;
	margin: 0;
	font-family: 'Space Mono', monospace;
	font-size: 2em;
	color: #E9E9E9;
	width: 99vw;
}

div {
	padding: 0;
	margin: 0;
	display: flex;
}

a {
	text-decoration: none;
	color: #E9E9E9;
}

h1 {
	font-size: 3em;
}

p {
	font-size: 0.6em;
}

#main {
	width: 99vw;
	height: 100vh;
}

#main > div {
	transition: all 200ms ease-in;
}

#side {
	width: clamp(150px, 20%, 250px);
	height: 100%;
	background-color: #E9E9E9;
	position: fixed;
	flex-flow: column nowrap;
}

#side img {
	width: 100%;
	height: auto;
	cursor: pointer;
}

#area {
	margin-left: clamp(150px, 20%, 250px);
	width: clamp(calc(100vw - 150px), 80%, calc(100vw - 250px));
	height: 100%;
	flex-flow: column nowrap;
}

.page {
	width: 100%;
	min-height: 100vh;
	flex-flow: column nowrap;
}

#home {
	justify-content: space-between;
}

.page > div {
	height: auto;
	justify-content: space-between;
}

#top {
	margin: calc(calc(clamp(150px, 20%, 250px) - 3em) / 2); 
}

div > a {
	margin: 1rem;
}

.left {
	justify-content: flex-start;
}

.right {
	justify-content: flex-end;
}

.right > a > i {
	border-radius: 50%;
}

.text-dark {
	color: #1D1F21;
}

.text-light {
	color: #E9E9E9;
}

#center {
	margin: 0 4rem;
	flex-flow: column nowrap;
	margin-bottom: 5vh;
}

#hello{
	width: auto;
}

#para {
	flex-flow: column nowrap;
}

#center p,h1 {
	margin: 0;
}

#descipt {
	flex-flow: column nowrap;
	margin: 0.5em 1em;
	max-width: min(900px, 80vw);
}

#descipt > p {
	font-size: min(0.7em, 2.25vw);
}

#descipt > p:not(:last-child) {
	margin-bottom: 1.5em;
}

#bottom {
	margin: 1.1em;
}

#bottom > div > div {
	flex-flow: column nowrap;
	margin: 1em;
}

#bottom > div > div > p {
	font-size: 0.6em;
	margin: 0.4em;
}

.header-container {
	margin: 4rem;
}

.header {
	border-bottom: 1px solid #E9E9E9;
}

p > i {
	vertical-align: bottom;
	margin: 0 0.2em;
}


#links {
	flex-flow: column nowrap;
	width: 100%;
}

.link {
	justify-content: center;
}

.link h3{
	/* needs fix */
	border-bottom: 3px solid #E9E9E9;
	cursor: pointer;
	font-size: 90%;
}

.link h3:hover {
	border-bottom: 3px solid #1D1F21;
}

#timeline {
	flex-flow: column nowrap;
}

.time {
	min-width: 100%;
	justify-content: space-between
}

.time:not(:last-child) {
	margin-bottom: 1em;
}

.time .right {
	text-align: end;
}

h5 {
	margin: 0;
}

.time > div {
	flex-flow: column nowrap;
}

.time p {
	font-size: 0.55em;
}

