<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Familly Tree</title>
        <script src="pages/static/js/tree.js" charset="utf-8"></script>
        <style type="text/css" media="screen">
body{
    padding: 0;
    margin: 0;
}

canvas {
    cursor: grab;
}

canvas:active {
    cursor: grabbing;
}
        </style>
    </head>
    <body onload="init()">
        <canvas id="canvas" width="200" height="100"></canvas>
    </body>
</html>
