<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="refresh" content="3"> -->
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="pages/static/css/coming-soon.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <title>LAMAGICX Coming Soon</title>
    </head>
    <body>
        <div id="main">
            <div id="header">
               <h1>Site Under Construction</h1> 
            </div>
            <div id="eggs">
                <div id="saucepan">
                    <div id="pan">
                    </div>
                    <div id="handle">
                    </div>
                    <div class="egg" id="egg-one">
                        <div class="yolk" id="yolk-one">
                        </div>
                    </div>
                    <div class="egg" id="egg-two">
                        <div class="yolk" id="yolk-two">
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
               <h3>Please Come back for your eggs</h3> 
            </div>
            
        </div>
    </body>
</html>
