<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <!-- <meta http-equiv="refresh" content="3"> -->
        <title>Cv</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="pages/static/css/cv_style.css" type="text/css" media="all">
    </head>
    <body>
        <div id="CV">
            <div id="sidebar">
                <div id="profile">
                    <img src="logo.png" alt="profile"/> 
                </div>
                <div id="about">
                    <h2 class="title">About Me</h2>
                    <span class="sub"></span>
                    <p class="content">Mathmatics and Computer Science student interested in Unix, Vim and problem solving</p>
                </div>
                <span class="sep"></span>
                <div id="links">
                    <h2 class="title">Social Links</h2>
                    <span class="sub"></span>
                    <p class="content">Website : <a href="lamagicx.eu" target="_blank">lamagicx.eu</a></p> 
                    <p class="content">Other : <a href="" target="_blank">other link</a></p> 
                </div>
                <span class="sep"></span>
                <div id="skills">
                    <h2 class="title">Skills</h2>
                    <span class="sub"></span>
                    <div class="skill">
                        <p class="content">English</p>
                        <div class="bar"><div class="p10"></div></div>
                    </div>
                    <div class="skill">
                        <p class="content">French</p>
                        <div class="bar"><div class="p10"></div></div>
                    </div>
                    <div class="skill">
                        <p class="content">Python</p>
                        <div class="bar"><div class="p10"></div></div>
                    </div>
                    <div class="skill">
                        <p class="content">Web Dev</p>
                        <div class="bar"><div class="p8"></div></div>
                    </div>
                    <div class="skill">
                        <p class="content">C</p>
                        <div class="bar"><div class="p6"></div></div>
                    </div>
                    <div class="skill">
                        <p class="content">Mathmatics</p>
                        <div class="bar"><div class="p6"></div></div>
                    </div>
                </div>
                <span class="sep"></span>
                 
            </div>
            <div id="main">
                <div id="header">
                    <div id="name">
                        <h1>Samson</h1> 
                        <h1>Grice</h1>
                    </div>                
                    <div id="contact">
                        <div class="cont" id="email">
                            <p>email: samsgrice@gmail.com</p> 
                            <p>phone: +33615583910</p>
                        </div>
                    </div>
                </div>
                <span class="sep"></span>
                <div id="work">
                    <h2 class="title">Work Experience</h2>
                    <div class="exp">
                        <div class="location">
                            <h4>La Terrasse</h4> 
                            <h5>Duras</h5>
                            <h5>Jul '21 - Aug '21</h5>
                        </div>
                        <div class="separator ">
                            <span class="dot"></span>
                            <span class="line"></span>
                        </div>
                        <div class="description">
                            <h4>Head Waiter</h4>
                            <p class="content">Job d'été étudiant</p>
                        </div>
                    </div> 
                    <div class="exp">
                        <div class="location">
                            <h4>La Terrasse</h4> 
                            <h5>Duras</h5>
                            <h5>Jul '20 - Aug '20</h5>
                        </div>
                        <div class="separator ">
                            <span class="dot"></span>
                            <span class="line"></span>
                        </div>
                        <div class="description">
                            <h4>Assistant Waiter</h4>
                            <p class="content">Job d'été étudiant</p>
                        </div>
                    </div> 
                    <div class="exp">
                        <div class="location">
                            <h4>Venture 42</h4> 
                            <h5>Duras</h5>
                            <h5>Sep '18 - Jan '19</h5>
                        </div>
                        <div class="separator ">
                            <span class="dot"></span>
                            <span class="line"></span>
                        </div>
                        <div class="description">
                            <h4>Administrative Website Assistant</h4>
                            <p class="content">Learnt about web hosting and helped to manage and organise directories</p>
                        </div>
                    </div> 
                    <div class="exp">
                        <div class="location">
                            <h4>Bombay Busserie</h4> 
                            <h5>Allemans sur Dropt</h5>
                            <h5>Sep '18 - Jan '19</h5>
                        </div>
                        <div class="separator ">
                            <span class="dot"></span>
                            <span class="line"></span>
                        </div>
                        <div class="description">
                            <h4>Catering Assistant</h4>
                            <p class="content">Took orders from customers and delivered food.</p>
                        </div>
                    </div> 
                </div>
                <span class="sep" style="margin-top: 10%"></span>
                <div id="school">
                    <h2 class="title">Education</h2>
                    <div class="exp">
                        <div class="location">
                            <h4>CyTech</h4> 
                            <h5>Pau</h5>
                            <h5>Sep '19 - </h5>
                        </div>
                        <div class="separator ">
                            <span class="dot"></span>
                            <span class="line"></span>
                        </div>
                        <div class="description">
                            <h4>Math and Computer Science</h4>
                            <p class="content"></p>
                        </div>
                    </div> 
                    <div class="exp">
                        <div class="location">
                            <h4>Lycee Val de Garonne</h4> 
                            <h5>Marmande</h5>
                            <h5>Sep '16 - Jul '19</h5>
                        </div>
                        <div class="separator ">
                            <span class="dot"></span>
                            <span class="line"></span>
                        </div>
                        <div class="description">
                        </div>
                    </div> 
                </div>
                <span class="sep" style="margin-top: 10%"></span>
                <div id="hobbies">
                    <h2 class="title">Hobbies</h2>
                    <div id="stuff">
                        <i class="material-icons">code</i><h5 class="hobby">Programming</h5>
                        <i class="material-icons">functions</i><h5 class="hobby">Maths</h5>
                        <i class="material-icons">music_note</i><h5 class="hobby">Music</h5>
                        <i class="material-icons">sports_rugby</i><h5 class="hobby">Sports</h5>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
