<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <!-- <meta http-equiv="refresh" content="3"> -->
        <title>Cv</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="pages/static/css/cv_style.css" type="text/css" media="all">
    </head>
    <body>
        <div id="CV">
            <div id="sidebar">
                <div id="profile">
                    <img src="assets/Images/profile2.png" alt="profile"/> 
                </div>
                <div id="about">
                    <h2 class="title">À Propos</h2>
                    <span class="sub"></span>
                    <p class="content">Étudiant britannique étudiant à CyTech (ex EISTI), Pau, France. J'étudie les mathématiques et l'informatique et m'intéresse à l'intelligence artificielle et au graphisme procédural. A travaillé sur plusieurs projets de développement web en tant que web designer et développeur backend pour des entreprises professionnelles et locales. </p>
                </div>
                <span class="sep"></span>
                <div id="links">
                    <h2 class="title">Liens Sociaux</h2>
                    <span class="sub"></span>
                    <p class="content"><i class="material-icons">language</i> : <a href="https://lamagicx.eu" target="_blank">lamagicx.eu</a></p> 
                    <p class="content"><i class="fa fa-github fa-lg" aria-hidden="true"></i> : <a href="https://github.com/LAMagicx" target="_blank">LAMagicx</a></p> 
                    <p class="content"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i> : <a href="www.linkedin.com/in/samson-grice-bbb464223/" target="_blank">samson-grice</a></p> 
                </div>
                <span class="sep"></span>
                <div id="skills">
                    <h2 class="title">Compétences</h2>
                    <span class="sub"></span>
                    <div class="skill">
                        <p class="content">Anglais</p>
                        <div class="bar"><div class="p10"></div></div>
                    </div>
                    <div class="skill">
                        <p class="content">Français</p>
                        <div class="bar"><div class="p10"></div></div>
                    </div>
                    <div class="skill">
                        <p class="content">Python</p>
                        <div class="bar"><div class="p10"></div></div>
                    </div>
                    <div class="skill">
                        <p class="content">HTML/CSS/JS</p>
                        <div class="bar"><div class="p8"></div></div>
                    </div>
                    <div class="skill">
                        <p class="content">Php</p>
                        <div class="bar"><div class="p8"></div></div>
                    </div>
                    <div class="skill">
                        <p class="content">C</p>
                        <div class="bar"><div class="p6"></div></div>
                    </div>
                    <div class="skill">
                        <p class="content">Mathématiques</p>
                        <div class="bar"><div class="p6"></div></div>
                    </div>
                    <div class="skill">
                        <p class="content">Git</p>
                        <div class="bar"><div class="p7"></div></div>
                    </div>
                    <div class="skill">
                        <p class="content">MySQL</p>
                        <div class="bar"><div class="p6"></div></div>
                    </div>
                </div>
                <span class="sep"></span>
                 
            </div>
            <div id="main">
                <div id="header">
                    <div id="name">
                        <h1>Samson</h1> 
                        <h1 style="padding-top: 0.2em;">Grice</h1>
                    </div>                
                    <div id="contact">
                        <div class="cont" id="email">
                            <p><i class="material-icons">email</i>: samsgrice@gmail.com</p> 
                            <p><i class="material-icons">phone</i>: +33 06 15 58 39 10</p>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 0.5em;">
                    <h2 class="title">Php développeur</h2>
                </div>
                <span class="sep"></span>
                <div id="work">
                    <h2 class="title">Expérience Professionnelle</h2>
                    <div class="exp">
                        <div class="location">
                            <h4>La Terrasse</h4> 
                            <h5>Duras</h5>
                            <h5>Jul '21 - Aou '21</h5>
                        </div>
                        <div class="separator ">
                            <span class="dot"></span>
                            <span class="line"></span>
                        </div>
                        <div class="description">
                            <h4>Server et développeur de web</h4>
                            <p class="content">Travail d'été comme serveur, où j'ai aussi aidé à concevoir le nouveau site web du restaurant.</p>
                        </div>
                    </div> 
                    <div class="exp">
                        <div class="location">
                            <h4>La Terrasse</h4> 
                            <h5>Duras</h5>
                            <h5>Jul '20 - Aou '20</h5>
                        </div>
                        <div class="separator ">
                            <span class="dot"></span>
                            <span class="line"></span>
                        </div>
                        <div class="description">
                            <h4>Assistant serveur</h4>
                            <p class="content">Job d'été étudiant.</p>
                        </div>
                    </div> 
                    <div class="exp">
                        <div class="location">
                            <h4>Venture 42</h4> 
                            <h5>Duras</h5>
                            <h5>Sep '18 - Jan '19</h5>
                        </div>
                        <div class="separator ">
                            <span class="dot"></span>
                            <span class="line"></span>
                        </div>
                        <div class="description">
                            <h4>Administrative Website Assistant</h4>
                            <p class="content">Learnt about web hosting and helped to manage and organise directories.</p>
                        </div>
                    </div> 
                    <div class="exp">
                        <div class="location">
                            <h4>Bombay Busserie</h4> 
                            <h5>Allemans sur Dropt</h5>
                            <h5>Sep '18 - Jan '19</h5>
                        </div>
                        <div class="separator ">
                            <span class="dot"></span>
                            <span class="line"></span>
                        </div>
                        <div class="description">
                            <h4>Assistant de restauration</h4>
                            <p class="content">Prenait les commandes des clients et livrait les repas.</p>
                        </div>
                    </div> 
                </div>
                <span class="sep" style="margin-top: 8.8%"></span>
                <div id="school">
                    <h2 class="title">Education</h2>
                    <div class="exp">
                        <div class="location">
                            <h4>CyTech</h4> 
                            <h5>Pau</h5>
                            <h5>Sep '21 - </h5>
                        </div>
                        <div class="separator ">
                            <span class="dot"></span>
                            <span class="line"></span>
                        </div>
                        <div class="description">
                            <h4>Première année du cycle d'ingénierie</h4>
                            <p class="content">Spécialisé dans les mathématiques et l'informatique.</p>
                        </div>
                    </div> 
                    <div class="exp">
                        <div class="location">
                            <h4>CyTech</h4> 
                            <h5>Pau</h5>
                            <h5>Sep '19 - Jul '21</h5>
                        </div>
                        <div class="separator ">
                            <span class="dot"></span>
                            <span class="line"></span>
                        </div>
                        <div class="description">
                            <h4>Classe Prepa</h4>
                            <p class="content">2 ans de classes préparatoires. </p>
                        </div>
                    </div> 
                    <div class="exp">
                        <div class="location">
                            <h4>Lycée Val de Garonne</h4> 
                            <h5>Marmande</h5>
                            <h5>Sep '16 - Jul '19</h5>
                        </div>
                        <div class="separator ">
                            <span class="dot"></span>
                            <span class="line"></span>
                        </div>
                        <div class="description">
                            <h4>Lycée</h4>
                            <p class="content">Passé le Bac avec mension bien.</p>
                        </div>
                    </div> 
                </div>
                <span class="sep" style="margin-top: 10.8%"></span>
                <div id="hobbies">
                    <h2 class="title">Hobbies</h2>
                    <div id="stuff">
                        <i class="material-icons">functions</i><h5 class="hobby">Maths</h5>
                        <i class="material-icons">music_note</i><h5 class="hobby">Musique</h5>
                        <i class="material-icons">sports_rugby</i><h5 class="hobby">Sports</h5>
                        <i class="fa fa-linux fa-lg" aria-hidden="true"></i><h5 class="hobby">Linux</h5>
                        <i class="fa fa-code fa-lg" aria-hidden="true"></i><h5 class="hobby">Code</h5>
                        <i class="fa fa-laptop fa-lg" aria-hidden="true"></i><h5 class="hobby">Computers</h5>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
