<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Samson Grice</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="pages/static/css/personal.css">
	<link rel="stylesheet" href="pages/static/css/personal-mobile.css">
</head>
<body>
	<div id="main">
		<div id="side">
			<img onclick="scrollToHash('home')" src="assets/Images/logo.png" alt="">
			<div id="links" class="text-dark">
				<div class="link">
					<h3 onclick="scrollToHash('about')" class="text-dark">README.md</h3>
				</div>
				<div class="link">
					<h3 onclick="scrollToHash('work')" class="text-dark">Work</h3>
				</div>
				<div class="link">
					<h3 onclick="scrollToHash('stuff')" class="text-dark">Stuff</h3>
				</div>
				<div class="link">
					<h3 onclick="scrollToHash('contact')" class="text-dark">Contact</h3>
				</div>
			</div>
		</div>
		<div id="area" class="text-light">
			<div id="home" class="page">
				<div id="top">
					<div class="left">
						<a id="me" href="#" class="text-light">Samson Grice</a>
					</div>
					<div class="right">
						<a class="social-link" href="https://github.com/LAMagicx"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
						<a class="social-link" href="https://www.linkedin.com/in/samson-grice-lamagicx/"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
					</div>
				</div>
				<div id="center">
					<div id="hello-container">
						<h1 id="hello" class="header"></h1>
					</div>
					<div id="paragraph-container">
						<p>Samson AKA LAMagicx,</p>
						<p>Student studying applied mathematics and computer science.</p>
					</div>
				</div>
				<div id="bottom">
					<div class="left">
					</div>
					<div class="right">
						<div id="email" class="contact-container">
							<p><i class="material-icons">email</i>Email: </p>
							<p>samsgrice@gmail.com</p>
						</div>
						<div id="phone" class="contact-container">
							<p><i class="material-icons">phone</i>Phone: </p>
							<p>(+33).6.15.58.39.10</p>
						</div>
					</div>
				</div>
			</div>
			<div id="about" class="page">
				<div class="header-container">
					<h1 class="header">README.md</h1>
				</div>
				<div class="center">
					<div class="descipt">
						<p>Hey, thanks for wanting to find out more about me, I'll try to be quick.</p>
						<p>I'm currently studying at Pau, France. During the day you'll find me attending classes or turning music into code. At the weekend I might have gone snowboarding, if not I am probably dancing with my friends.</p>
						<p>I've been programming for 5 years working on many personal and professional projects yet I'm no expert because there is still so much to learn.
						I love to solve problems, whether that's a bug in the code, a logical puzzle or simply a word game, I won't stop till I've solved it.</p>
						<p>I am fascinated and want to learn more about artificial intelligence. I am not sure where I'm heading next but I am excited to find out!</p>
					</div>
				</div>
			</div>
			<div id="work" class="page">
				<div class="header-container">
					<h1 class="header">Work</h1>
				</div>
				<div class="center">
					<div id="timeline">
						<div class="time">
							<div class="left">
								<h5>Programming and Maths Tutor</h5>
								<p>Give online lessons for high school pupils.</p>
							</div>
							<div class="right">
								<h5>Oct 2021 - Present</h5>
								<p>Pau</p>
							</div>
						</div>
						<div class="time">
							<div class="left">
								<h5>Studying at Cy Tech</h5>
								<p>Applied Mathematics and Computer Science</p>
							</div>
							<div class="right">
								<h5>Sep 2021 - Present</h5>
								<p>Pau</p>
							</div>
						</div>
						<div class="time">
							<div class="left">
								<h5>Preparatory Classes at Cy Tech</h5>
								<p>Applied Mathematics and Computer Science</p>
							</div>
							<div class="right">
								<h5>Sep 2019 - Jun 2021</h5>
								<p>Pau</p>
							</div>
						</div>
						<div class="time">
							<div class="left">
								<h5>Website Designer</h5>
								<p>Helped design a local restaurants website</p>
							</div>
							<div class="right">
								<h5>Jul 2021 - Aug 2021</h5>
								<p>Duras</p>
							</div>
						</div>
						<div class="time">
							<div class="left">
								<h5>Head Waiter</h5>
								<p>Student Summer Job</p>
							</div>
							<div class="right">
								<h5>Jul 2021 - Aug 2021</h5>
								<p>Duras</p>
							</div>
						</div>
						<div class="time">
							<div class="left">
								<h5></h5>
								<p></p>
							</div>
							<div class="right">
								<h5></h5>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				<div class="bottom"></div>
			</div>
			<div id="stuff" class="page">
				<div class="header-container">
					<h1 class="header">Stuff</h1>
				</div>
				<div class="center">
					<div class="descipt">
						<p>Coming soon</p>
					</div>
				</div>
				<div class="bottom"></div>
			</div>
			<div id="contact" class="page">
				<div class="header-container">
					<h1 class="header">Contact</h1>
				</div>
				<div class="center">
					<div class="descipt">
						<p>Coming Soon</p>
					</div>
				</div>
				<div class="bottom"></div>
			</div>
		</div>
	</div>
</body>
<script>
	let d = new Date();
	if (d.getHours() >= 18 || d.getHours() <= 6) {
		document.getElementById("hello").innerText = "Bonsoir";
	} else {
		document.getElementById("hello").innerText = "Bonjour";
	}
	function scrollToHash(id) {
		document.getElementById(id).scrollIntoView({block:"nearest", behavior:"smooth"})
	}
</script>
</html>
